 :root {
    --primary-color: rgb(246, 16, 16);
    --secondary-color: #ffe70a;
    --titulo-size: 22px;
 }

 h2 {
    font-size: var(--titulo-size);
 }

 
 body {

            background: linear-gradient(180deg, var(--primary-color) 10%, var(--secondary-color) 100%);
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Arial';

        }

        .card {

            background-color: #FFF;
            width: 100%;
            border-radius: 20px;
            /* max-width: 350px; */
            box-shadow: 0px 0px 70px 1px #00000064;
            padding: 40px 30px;
            align-items: center;
            justify-content: center;
            display: flex;

        }

        .avatar {
            border-radius: 50%;
            background-color: var(--primary-color);
            width: 150px;
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .profissao {
            color: var(--primary-color);
            font-size: 16px;
        }

        .descricao {
            text-align: center;
            color: #AAA;
        }

        .listaHabilidades {
            display: flex;
            gap: 10px;
            list-style: none;
            padding-inline-start: 0;
            flex-wrap: wrap;
        }

        li {

            background-color: #EEE;
            color: var(--primary-color);
            padding: 8px 15px;
            border-radius: 20px;
            border: 2px #AAA solid;

        }

        button {
            background: linear-gradient(180deg, var(--primary-color) 10%, var(--secondary-color) 100%);
            border: none;
            padding: 15px 40px;
            border-radius: 30px;
            color: #FFF;
            font-weight: 700;
            font-size: 16px;
            box-shadow: 0px 0px 30px 1px #00000064;
            margin-top: 20px;
            cursor: pointer;
        }

        span {
            font-size: 50px;
            font-weight: 600;
            color: #FFF;

        }

        .usuario {
            color: #000;

        }

@media (max-width:468px) {

    body {
        padding: 0 30px;
    }

    .card {
        max-width: 350px;
    }

    .usuario {
        color: #7ca21c;
    }
    
}

@media (max-width:1024px) {

    body {
        background: linear-gradient(180deg, rgb(183, 0, 255) 10%, yellow 100%);

        
    }

    .card {
        max-width: 600px;
        flex-direction: column;

    }

    .usuario {
        color: #7ca21c;
    }
    
}