/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* BODY */
body {
    background: linear-gradient(180deg, #0625b1 10%, #764ba2 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CARD */
.card {
    background-color: #fff;
    width: 100%;
    max-width: 400px;
    box-shadow: 0px 0px 70px 1px #c4000064;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
}


/* AVATAR */
#avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #667eea;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

#avatar span {
    font-size: 50px;
    font-weight: 600;
}

/* TÍTULOS */
h1 {
    margin-top: 15px;
}

h3 {
    color: rgb(112, 121, 252);
    margin: 10px 0;
}

/* BOTÃO INPUT */
input[type="button"] {
    border-radius: 30px;
    padding: 10px 20px;
    margin: 15px 0;
    cursor: pointer;
}

/* DESCRIÇÃO */
.descricao {
    text-align: center;
    color: #888;
    margin-bottom: 15px;
}

/* LISTA DE HABILIDADES */
ul {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
}

ul li {
    background-color: #ddd;
    color: #667eea;
    padding: 8px 15px;
    border-radius: 25px;
}

/* BOTÃO FINAL */
button {
    border-radius: 50px;
    background-color: #ddd;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
/* ESCONDER DESCRIÇÃO */
.hideDescription {
    display: none;
}

/* MODO ESCURO */
.darkTheme {
    background: #121212 !important;
    color: white !important;
}

.card.darkTheme {
    background-color: #1e1e1e !important;
}

.card.darkTheme h3 {
    color: #8a9cff;
}

.card.darkTheme ul li {
    background-color: #333;
    color: #8a9cff;
}
